@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hero{
    display: flex;
    width: 100%;
    height: 145vh;
    background: url('images/hero.png');
     background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.navbar {
    width: 100%;
    z-index: 1000;
}
.hero_text{
     font-family: "Montserrat", sans-serif;
     font-size: 80px;
     font-weight: 400;
    position: absolute;
    top: 105px;
    color: #FFFFFF;
}
.hero_p{
    position: absolute;
    top: 300px;
    width: 600px;
     font-family: "Montserrat", sans-serif;
     font-weight: 400;
     font-size: 22px;
    color: #FFFFFF;
}
.input-group{
    
    justify-content: center;
    align-items: center;
    top: 10px;
    width:304px !important;
    color: aliceblue !important;
    
    
}
#searchInput{
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

#searchInput::placeholder {
  color: #fff;
  opacity: 1; /* important for Firefox */
}

/* Optional: when input is focused */
#searchInput:focus::placeholder {
  opacity: 0.7;
}
.search-icon {
  background-color: orange !important;
  color: #fff;
  border-radius: 50% !important;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
   /* spacing from input */
}
.cart-count{
    position: absolute;
   
    color: orange;
}
.two{
    justify-content: center;
    align-items: center;
    padding-top:80px;
    padding-bottom:80px;
}
.text_one{
     font-family: "Montserrat", sans-serif;
     font-style: bold;
     font-weight: 600;
     width: 242px;
    font-size: 35px;
    color: #1E1E1E;
}
.text_two{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #1E1E1E;

}
.text_three{
     font-family: "Montserrat", sans-serif;
     font-size: 16px;
     color: #1E1E1E;
}
.button{
    text-decoration: none;
    color: #E58411;
}




@media (max-width: 576px) { 
    .hero_text{
        font-size:27px;
        margin-bottom: 10px !important;
    }
    .hero_p{
        width: 100%;
        font-size: 14px;
        top: 227px;
    }
    .input-group{
        top:-28px;
    }
 }
 @media (min-width: 768px) { 
    .hero_text{
        font-size: 54px;
    }
    .hero_p{
        width: 46%;
        font-size: 14px;
        top: 227px;
    }
    .input-group{
        top:-28px;
    }
    .text_two{
        font-size: 20px !important;
    }
    .text_three{
        font-size: 14px;
    }
  }
  @media (min-width: 992px) { 
     .hero_text{
        margin-top:15px;
        font-size: 80px;
    }
     .hero_p{
        width: 44%;
        margin-bottom: 20px;
        font-size: 21px;
        top: 302px;
    }
     .input-group{
        top:7px;
    }
   }
 
   @media (min-width: 1400px) { 
      .hero_text{
        
        font-size: 80px;
    }
     .hero_p{
        width: 41%;
        font-size: 22px;
        top: 372px;
    }
   }
