.hero{
    height: 100vh;
    background: url('images/hero.png');
     background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}
.navbar {
    width: 100%;
    z-index: 1000;
}
