@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hero{
    display: flex;
    width: 100%;
    height: 145vh;
    background: url('images/hero.png');
     background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.navbar {
    width: 100%;
    z-index: 1000;
}
.hero_text{
     font-family: "Montserrat", sans-serif;
     font-size: 80px;
     font-weight: 400;
    position: absolute;
    top: 105px;
    color: #FFFFFF;
}
.hero_p{
    position: absolute;
    top: 300px;
    width: 600px;
     font-family: "Montserrat", sans-serif;
     font-weight: 400;
     font-size: 22px;
    color: #FFFFFF;
}
.input-group{
    
    justify-content: center;
    align-items: center;
    top: 10px;
    width:304px !important;
    color: aliceblue !important;
    
    
}
#searchInput{
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

#searchInput::placeholder {
  color: #fff;
  opacity: 1; /* important for Firefox */
}

/* Optional: when input is focused */
#searchInput:focus::placeholder {
  opacity: 0.7;
}
.search-icon {
  background-color: orange !important;
  color: #fff;
  border-radius: 50% !important;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
   /* spacing from input */
}
.cart-count{
    position: absolute;
   
    color: orange;
}
.two{
    justify-content: center;
    align-items: center;
    padding-top:80px;
    padding-bottom:80px;
}
.text_one{
     font-family: "Montserrat", sans-serif;
     font-style: bold;
     font-weight: 600;
     width: 242px;
    font-size: 35px;
    color: #1E1E1E;
}
.text_two{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #1E1E1E;

}
.text_three{
     font-family: "Montserrat", sans-serif;
     font-size: 16px;
     color: #1E1E1E;
}
.button{
    text-decoration: none;
    color: #E58411;
}
.txt1{
    font-size:42px;
    color: #1E1E1E;
}
.productive{
    background-color: #F7F7F7;
    padding-top: 70px;
    padding-bottom: 70px;
}
.button-box{
    
     width: 347px;
  margin: 0 auto;
 
    height: 57px;
    
    border-radius: 44px;
  background-color: #ecebeb;
}
/* Tabs box */
.button-box {
    
  width: 347px;
  border-radius: 44px;
  margin: 0 auto;
}
.tab-btn{
    border: none !important;
    border-radius: 32px !important;
    background: rgb(239, 234, 234) !important;
    color: black !important;
    
}
/* Active tab */
.tab-btn.active {
    border-radius: 32px;
  background: white !important;
  color: black !important;
}

/* Search */
#searchInput::placeholder {
  color: #fff;
  opacity: 1;
}

.search-icon {
  background: orange;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product card */
.card {
    width:269px;
    height: 492px;
  background: #111;
  border: none;
  border-radius: 20px;
}
.txt9{
    font-size: 21px;
}
.context3{
    height: 256px;
    object-fit: cover;
}
.card img {
  
    background-position: center; /* center image */
  background-repeat: no-repeat;
  object-fit: cover;
  
}
.context{
    width: 225px;
    height: 48px;
}
.context1{
    font-family: inter;
    font-size: 21px;
    color: #0D1B39;
}
.down{
    padding-top: 120px;
    padding-bottom: 150px;
    background-color: white;
}
.rat-img{
    top:100px;
    left: 180px;
}
.fur3{
    top:60px
}
.txp1{
    font-size: 18px;
    color: #E58411;
}
.txp2{
    color: #1E1E1E;
    font-size: 42px;
}
.txp3{
    font-size: 18px;
    color: #1E1E1E;
}
.furniture{
    
    padding-top:100px;
    padding-bottom:80px;
}
.txt12{
    font-size: 18px;

    color:#E58411;
}
.txt13{
  font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #1E1E1E;
}
.box{
    width: 459px;
    
}
.txt14{
    font-size: 18px;
    color:
     #1E1E1E;
}
.box1{
    width: 556px;
}
.renv{
    top:250px;
}
.reno{
    top: 100px;
    left: 380px;
}
.renu{
    
    top:100px;
    left: 300px;
}
.comfy{
    margin-top: 100px !important;
}
.end{
padding-top: 150px;
padding-bottom: 100px;
}
.txtn{
    color: #E58411;
    font-size: 18px;
    font-family: "inter";
}
.txtnt{
    font-size: 42px;
    font-family: "inter";
}
.swiper {
  width: 90%;
  margin: 50px auto;
}

.swiper-slide {
  background: #007bff;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 60px 0;
  border-radius: 10px;
}






@media (max-width: 576px) { 
    .rev{
        width: 50%;
    }
    .comfy{
        margin-bottom: 60px;
    }
    .renv{
        top: 155px;
        width: 50%;
    }
    .reno {
        width: 60%;
    top: 56px;
    left: 136px;
}
   .renu {
        width: 52%;
        top: 177px;
        left: 172px;
    }
    .box1 {
    width: 100%;
}
    .hero_text{
        font-size:27px;
        margin-bottom: 10px !important;
    }
    .hero_p{
        width: 100%;
        font-size: 14px;
        top: 227px;
    }
    .input-group{
        top:-28px;
    }
    .button-box {
        width: 277px;
    }
    .fur3 {
    width: 96%;
    top: 60px;
}
.rat-img {
    width: 50%;
    top: 100px;
    left: 180px;
}
.txt13 {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #1E1E1E;
}
.box {
    width: 323px;
    
}
 }
 @media (min-width: 768px) { 
    .renv{
        width: 37%;
    }
    .reno {
    top: 100px;
    left: 479px;
}
    .renu {
    top: 136px;
    left: 308px;
}
    .box4{
        margin-top:30px;
    }
    .box {
    width: 332px;
   
}
.txt13 {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    
  
}

    .hero_text{
        font-size: 54px;
    }
    .hero_p{
        width: 46%;
        font-size: 14px;
        top: 227px;
    }
    .input-group{
        top:-28px;
    }
    .text_two{
        font-size: 20px !important;
    }
    .text_three{
        font-size: 14px;
    }
    .button-box {
    width: 292px;
}
.rat-img {
    top: 100px;
    left: 180px;
    width: 53%;
}
.fur3 {
    width: 87%;
    top: 60px;
}
  }
  @media (min-width: 992px) { 
   
     .hero_text{
        margin-top:15px;
        font-size: 80px;
    }
     .hero_p{
        width: 44%;
        margin-bottom: 20px;
        font-size: 21px;
        top: 302px;
    }
     .input-group{
        top:7px;
    }
    .rat-img {
    width: 53%;
    top: 100px;
    left: 180px;
}
.fur3 {
    width: 70%;
    top: 60px;
}
   }
  @media (min-width: 1024px) {
    .rev{
        width: 34%;
    }
    .renv {
    width: 34%;
    top: 189px;
}
    .renu {
        width: 61%;
        top: 72px;
        left: 231px;
    }
.reno {
    top: 20px;
    left: 304px;
}
.box1 {
    width: 406px;
}
  }

 
   @media (min-width: 1400px) { 
    .rev{
        width: 34%;
    }
    .box1 {
    width: 556px;
}
    .renu{
    width: 55%;
    top:130px;
    left: 366px;
}
.reno {
    top: 39px;
    left: 537px;
}
.renv {
    top: 250px;
    left: 83px;
    width: 34%;
}
.rev{
    left: 84px;
}
    .txt13 {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    
  
}
    .box {
        width: 459px;
        
    }
      .hero_text{
        
        font-size: 80px;
    }
     .hero_p{
        width: 41%;
        font-size: 22px;
        top: 372px;
    }
    .carousel-control-prev {
    left: -70px !important;
}
.carousel-control-next {
    right: -44px !important;
}
   }
