@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hero{
    display: flex;
    width: 100%;
    height: 130vh;
    background: url('images/hero.png');
     background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.navbar {
    width: 100%;
    z-index: 1000;
}
.hero_text{
     font-family: "Montserrat", sans-serif;
     font-size: 80px;
     font-weight: 400;
    position: absolute;
    top: 105px;
    color: #FFFFFF;
}
.hero_p{
    position: absolute;
    top: 300px;
    width: 606px;
     font-family: "Montserrat", sans-serif;
     font-weight: 400;
     font-size: 24px;
    color: #FFFFFF;
}
.input-group{
    
    position: absolute;
    top: 10px;
    width:304px !important;
    color: aliceblue !important;
    

}
.form-control{

}

/* Placeholder color white */
#searchInput::placeholder {
  color: #fff;
  opacity: 1; /* important for Firefox */
}

/* Optional: when input is focused */
#searchInput:focus::placeholder {
  opacity: 0.7;
}
.search-icon {
  background-color: orange !important;
  color: #fff;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
   /* spacing from input */
}